@import url('../fonts/fontawesome-free-5.12.1-web.all.min.css');
@import url('../fonts/rubik-cufonfonts-webfont/style.css');

/* open-sans-regular - latin */
@font-face {
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
src: url('../fonts/open-sans-v17-latin-regular.eot'); /* IE9 Compat Modes */
src: local('Open Sans Regular'), local('OpenSans-Regular'),
        url('../fonts/open-sans-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/open-sans-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/open-sans-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/open-sans-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/open-sans-v17-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

@import "general.scss";
@import "buttons.scss";

// Component styles.
@import "../../components/FileDownload/filedownload.scss";
@import "../../components/IconList/iconlist.scss";
@import "../../components/IconListItem/iconlistitem.scss";
@import "../../components/Menu/menu.scss";
@import "../../components/Organization/organization.scss";
@import "../../components/SearchListItem/searchlistitem.scss";

// Template styles.
@import "../../templates/Header/header.scss";
@import "../../templates/Hero/hero.scss";
@import "../../templates/Footer/footer.scss";
@import "../../templates/NavBar/navbar.scss";